@import '~@angular/material/theming';
@import '../styles.scss';


.mat-tab-label.mat-tab-label-active{
    color: mat-color($accent);
}
.mat-tab-label-content{
    flex-flow: column wrap !important;
}

/* Styles for the active tab label */
// .mat-tab-label.mat-tab-label-active {
//     // min-width: 25px !important;
//     // padding: 5px;
//     // background-color: transparent;
//     color: red;
//     // font-weight: 700;
// }
.example-viewport {
    height: 100px;
    width: 200px;
    border: 1px solid white;
  }
  
  .example-item {
    height: 50px;
  }