
<nav mat-tab-nav-bar animationDuration="0ms" color="accent">
    <!-- <a mat-tab-link *ngFor="let link of router.config" [routerLink]="['/'+link.path]" routerLinkActive
        #rta="routerLinkActive" [active]="rta.isActive">
        {{link.path}}
    </a> -->
    <a mat-tab-link routerLink='/sale' routerLinkActive='accent' #rta1="routerLinkActive" [active]="rta1.isActive">
        <mat-icon> post_add</mat-icon>
        Sale
    </a>
    <a mat-tab-link routerLink='/history' routerLinkActive='accent' #rta2="routerLinkActive" [active]="rta2.isActive">
        <mat-icon>history</mat-icon>
        History
    </a>
    <a mat-tab-link routerLink='/analysis' routerLinkActive='accent' #rta3="routerLinkActive"
        [active]="rta3.isActive">
        <mat-icon> trending_up</mat-icon>
        Analisys
    </a>
    <a mat-tab-link routerLink='/repository' routerLinkActive='accent' #rta4="routerLinkActive"
        [active]="rta4.isActive">
        <mat-icon>storage</mat-icon>
        Drive
    </a>

</nav>

<!-- 
<mat-tab-group color="accent" animationDuration="0ms">
    <mat-tab label="Add">

        <ng-template mat-tab-label>
            <mat-icon> post_add</mat-icon>
            <div> Отчет </div>
        </ng-template>
        <ng-template matTabContent> -->
<!-- Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}} -->
<!-- <app-data-form></app-data-form>
        </ng-template>
    </mat-tab> -->

<!-- <mat-tab label="Drive">
        <ng-template mat-tab-label>
            <mat-icon>storage</mat-icon>
            <div> Drive </div>
        </ng-template>
        <app-google-drive></app-google-drive>
    </mat-tab>
    <mat-tab #tab label="History">
        <ng-template mat-tab-label>
            <mat-icon>history</mat-icon>
            <div> История </div>
        </ng-template> -->

<!-- <ng-template mat-tab-label> -->
<!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
<!-- <div [style.color]=" tab.isActive? 'tomato' : 'inherit'" > -->
<!-- <div [ngClass]=" {my:tab.isActive}" > -->
    
<!-- Second -->
<!-- </div> -->
<!-- </ng-template> -->
<!-- <app-history></app-history>
    </mat-tab>
</mat-tab-group> -->



<router-outlet></router-outlet>

<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of ds" class="example-item">
    {{ item || "Loading..." }}
  </div>
</cdk-virtual-scroll-viewport>

<button (click)="getList()">Get List</button>

<div *ngFor="let file of list$ | async">
  <div>
    {{ file.name }}
  </div>
</div>
